<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Biblioteca Egg</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <body>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody th:each = "libro : ${libros}">
                <tr>
                    <th scope="row" th:text = "${libro.isbn}"></th>
                    <td th:text = "${libro.titulo}"></td>
                    <td th:text = "${libro.ejemplares}"></td>
                    <td th:text = "${libro.autor.nombre}"></td>
                    <td th:text = "${libro.editorial.nombre}"></td>
                    <td>
                        <a th:href = "@{/libro/modificar/__${libro.isbn}__}"><i class="fas fa-feather-alt"></i>Modificar</a>
                    </td>
                </tr>
            </tbody>
        </table> 

    </body>
</html>